@import 'bootstrap-sprockets' ;
@import 'bootstrap' ;

// index

.admi-label{
  text-align: left;
}

.delete-button{
  text-align: right;
}

// show

.table-headline{
  text-align: center;
  background-color: silver;
}